/*
Click nbfs://nbhost/SystemFileSystem/Templates/Licenses/license-default.txt to change this license
Click nbfs://nbhost/SystemFileSystem/Templates/Other/CascadeStyleSheet.css to edit this template
*/
/* 
    Created on : 30 jun. 2022, 14:55:34
    Author     : carlo
*/

@import url('https://fonts.googleapis.com/css2?family=Joan&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Dancing+Script&family=Montserrat:wght@100;500&display=swap');
*{
    margin: 0;
    padding: 0;
    font-family: 'Montserrat', sans-serif;
}

.container{
    height: 130vh;
    width: 100%;
    background:linear-gradient(120deg,#fff8e7,#eae6ca);
    background-position: center;
    background-size: cover;
    padding-left: 5%;
    padding-right: 5%;
    box-sizing: border-box;
    position: relative;
}

.navbar{
    position: fixed;
    height: 10vh;
    width: 100%;
    display: flex;
    align-items: center;
    margin-top: 1em;
    border-radius: 100px;
    margin-left: 10em;
    background-color: #D9E5FC;
    opacity: 90%;
    box-shadow: 7px 7px 10px gray;
    z-index: 1;
}

.logo{
    width: 100px;
    margin-right: 2%;
    border-radius: 10px;
}

nav{
    /*padding-left: 10px;*/
}


nav ul li{
    display: inline-block;
    list-style: none;
    margin: 00px 60px;
    /*cursor: pointer;*/
}

nav ul li a{
    text-decoration: none;
    color: indigo;
    /*text-transform: uppercase;*/
}

.about{
    background-position: center;
    background-size: cover;
    padding-left: 5%;
    padding-right: 5%;
    padding-top: 10%;
    box-sizing: border-box;
    position: relative;
    /*margin-right: 30%;*/
}

.history{
    background-position: center;
    background-size: cover;
    padding-left: 42%;
    padding-right: 5%;
    padding-top: 3%;
    box-sizing: border-box;
    position: relative;
    margin-right: 30%;
}

div h1{
    text-decoration: none;
    color: black;
    margin-bottom: 2em;
    font-size: 22pt;
}

div h2{
    text-decoration: none;
    color:midnightblue;
    margin-top: 1em;
    font-size: 20pt;
}

div p{
    text-decoration: none;
    color: black;
    margin-top: 2em;
    font-size: 16pt;
}

.image{
    position: relative;
    float: right;
    padding-top: 5%;
}

    
