<!DOCTYPE html>
<!--
Click nbfs://nbhost/SystemFileSystem/Templates/Licenses/license-default.txt to change this license
Click nbfs://nbhost/SystemFileSystem/Templates/Other/html.html to edit this template
-->
<html xmlns:th="http://www.thymeleaf.org">
      
    <head>
        <title> crear </title>
        
       <link href = "https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-0evHe/X+R7YkIZDRvuzKMRqM+OrBnVFBL6DOitfPri4tjfHxaWutUpFmBp4vmVor" crossorigin="anonymous">
       <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/js/bootstrap.bundle.min.js" integrity="sha384-pprn3073KE6tl6bjs2QrFaJGz5/SUsLqktiwsUTF55Jfv3qYSDhgCecCxMW52nD2" crossorigin="anonymous"></script>
    </head>
    
    <!-- NOMBRE cantidad precio local -->
    <body >
        <div class="card-header bg-black text-white"></div>
        <div class="card-body">
        
        <div class="container">
            <!-- aqui vamos a pasarle un objecto de tipo persona (el mismo que agregarmos en el model.atribute del controller -->
        <form th:object = "${verdura}" 
              th:action="@{/save}"
              method="POST">  <!-- aqui lo mismo, pero con el metodo save del controller -->


            <!-- aunque no se lo estemos pasando en pantalla, si esta. Porque nosotros le pusimos que fuera auto-incremental -->
            <!-- si no podemos este input nos va a dar error -->
            <input type="hidden" th:field="*{id}"> <!-- este va a ser el campo en nuestro objecto -->


            <div class="mb-3">
                <label for="exampleInputEmail1" class="form-label">Nombre de la Verdura</label>
                <input type="text" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" th:field="*{nombre}"><!-- este th es super importante, esto lo hacemos para que siempre se guarde en el objecto tipo persona, si no lo hacemos no se guarda -->
                <div id="emailHelp" class="form-text"></div>
            </div>

            <div class="mb-3">
                <label for="exampleInputPassword1" class="form-label">Cantidad a Agregar</label>
                <input type="text" class="form-control" id="exampleInputPassword1" th:field="*{cantidad}">
            </div>


            <div class="mb-3">
                <label for="exampleInputPassword1" class="form-label">Precio</label>
                <input type="text" class="form-control" id="exampleInputPassword1" th:field="*{precio}">
            </div>


            <div class="col-md-4">
                <label for="inputState" class="form-label">Sede</label>
                <select id="inputState" class="form-select" th:field="*{sede}">
                    <!-- Por cada x que este en paises, paises es el que esta en personaController, dentro del metodo personaN, el que dice model.atributte(paises , lista de paises) -->
                    <option th:each="x:${sedes}" 
                            th:value="${x.id}" 
                            th:text="${x.sede}"> <!-- este es un qui, que vendria siendo el nombre del pais en este caso -->
                        <!-- y el id es el valor -->
                    </option>

                </select>
            </div>
            <div class="col-md-4">
                <button type="submit" class="btn btn-primary">Guardar</button>
            </div>


        </form>
            </div>
            </div>
    </body>
</html>
