<!DOCTYPE html>
<!--
Click nbfs://nbhost/SystemFileSystem/Templates/Licenses/license-default.txt to change this license
Click nbfs://nbhost/SystemFileSystem/Templates/Other/html.html to edit this template
-->
<html xmlns:th="http://www.thymeleaf.org">
    <head>
        <title>Verdura</title> 
        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-0evHe/X+R7YkIZDRvuzKMRqM+OrBnVFBL6DOitfPri4tjfHxaWutUpFmBp4vmVor" crossorigin="anonymous">
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/js/bootstrap.bundle.min.js" integrity="sha384-pprn3073KE6tl6bjs2QrFaJGz5/SUsLqktiwsUTF55Jfv3qYSDhgCecCxMW52nD2" crossorigin="anonymous"></script>
    </head>

    <body>
        <h1 th:text="${titulo}"></h1>
        <table class="table table-dark table-striped"> 

            <thead class="thead-dark">
                <tr>
                    <th scope="col">Sede </th>
                    
                </tr>
            </thead>

            <tbody>
                
            <th:block th:each="user: ${sedess}">
                <tr>
                  
                    <td th:text="${user.getSede}"></td> 
                    
                </tr>
            </th:block>
        </tbody>
    </table>
</body>
</html>
